<html>
<head>
  <link href="<%= url("/css/stylesheet.css")%>" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
</head>

<body>

  <h1> <%=@game.player_1.name%> </h1>
  <h3>vs.</h3>
  <h1> <%=@game.player_2.name%> </h1>

  <% if !@game.game_over? %>
    <h3> <%=@game.player_1.name%>: <%=@game.player_1.hp%>HP <%=@game.player_2.name%>: <%=@game.player_2.hp%>HP </h3>
    <h2><%= @game.turn.name%>'s turn<h2>
  <% else %>
    <h2> <%= @game.winner.name %> wins this round!</h2>
  <% end %>


  <% unless @game.turn.computer || @game.game_over? %>
    <form action="/attack">
      <input type='submit' value='Attack!'>
    </form>
    <form action="/freeze">
      <input type='submit' value='Freeze!'>
    </form>
  <% end %>

  <%if $game.turn.computer %>
    <meta HTTP-EQUIV="REFRESH" content="2; url=/comp">
  <% end %>

  <section>
    <%= @game.log.display %>
  </section>


</body>
</html>
